---
import BaseLayout from '../layouts/Layout.astro';
---
<BaseLayout title="Markus Wallin - Home">
    <h1>Welcome to my website!</h1>
    <p>Here I will post solutions to different maths and physics books.</p>
</BaseLayout>