body {
    background-color: #f0f2f5;
    font-family: sans-serif;
}

h1 {
    color: #1c1e21;
}

/* Show dropdown on hover */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}